# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter_build/
.pub-cache/
coverage/
doc/api/

# IDEs
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Android (keep harmless even if you’re iOS-only for now)
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore

# iOS / Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*

# Xcode user data
**/xcuserdata/
**/*.xcuserstate
*.xcworkspace/xcuserdata/

# CocoaPods
Podfile.lock

# Swift Package Manager (rare in Flutter but possible)
.build/
DerivedData/
*.xcresult

# Logs
*.log
